{% extends 'main/base.html' %}
{% block  content %}
    <!-- LOGIN AREA -->
    <section class="slider-2-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-content-table">
                        <div class="about-content-table-sell">
                            <div class="about-heading">
                                <h2 style="color: ivory;"> Oops! Page Not Found! </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LOGIN AREA END -->
    {% endblock %}