{% extends 'main/base.html' %}
{% load static %}
{% block  header %}

    <!-- HOMEPAGE-1 SLIDER -->
    <section class="slider-2-bg ">

        <div class="clouds">
            <img src="{% static 'main/img/cloud/cloud-6.png' %}" alt="cloud" class="cloud1">
            <img src="{% static 'main/img/cloud/cloud-2.png' %}" alt="cloud" class="cloud3">
            <img src="{% static 'main/img/cloud/cloud-3.png' %}" alt="cloud" class="cloud4">
            <img src="{% static 'main/img/cloud/cloud-4.png' %}" alt="cloud" class="cloud5">
            <img src="{% static 'main/img/cloud/cloud-5.png' %}" alt="cloud" class="cloud2">
            <img src="{% static 'main/img/cloud/cloud-6.png' %}" alt="cloud" class="cloud6">
            <img src="{% static 'main/img/cloud/cloud-7.png' %}" alt="cloud" class="cloud7">
            <img src="{% static 'main/img/cloud/cloud-5.png' %}" alt="cloud" class="cloud8">
        </div>

        <div class="single-slider-item">
            <div class="container">
                <div class="row ">
                    <div class="slider-content-area-table">
                        <div class="slider-content-area-table-cell">
                            <div class="col-md-12 col-sm-12 wow slideInLeft " data-wow-duration="2s" data-wow-delay="0.4s">
                                <div class="slider-content">
                                    {% if user.is_authenticated %}
                                    <h2 style="text-transform: capitalize;">
                                    WELCOME {{request.user.username}}!
                                    </h2>
                                    {% else %}
                                    <h2>
                                        WELCOME!
                                    </h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <section class="homepage-2 domain-area ">
        <div class="container domain-inner">
            <div class="row domain-checkup">
                <form id="digita-contact-form" action="{% url 'Post:search_results' %}" method="get">
                    {% csrf_token %}
                    <div class="domain-checkup-left">
                        <div class="input-field-row">
                            <input type="text" name="q" class="domain-input" placeholder="Search here" required >
                        </div>
                    </div>
                    <div class="domain-checkup-right">
                        <button>
                            <img src="{% static 'main/img/icons/search-icon.png' %}" alt="Search icon">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    
<!--SERVICE AREA-->

<section class="service-area" style="margin-top: -20%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Why <span>Flake</span> is So Good?</h2>
                    <img src="{% static 'main/img/section-shape.png' %}" alt="section-shape">
                    <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor sittem elit inuning ut sed sittem do eiusmod.</p>
                </div>
            </div>
        </div>
        
        <div class="service-teatimonial">
            {% for post in all_post %}
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="asset/img/service/service-icon.png" alt="service-icon">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.text }}</p>
                </div>
            </div>

            {% endfor %}
            <!-- <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="asset/img/service/service-icon-2.png" alt="service-icon">
                    <h2>Web Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="asset/img/service/service-icon-3.png" alt="service-icon">
                    <h2>Cloud Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="asset/img/service/service-icon.png" alt="service-icon">
                    <h2>Resellers Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="asset/img/service/service-icon-2.png" alt="service-icon">
                    <h2>Web Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="asset/img/service/service-icon.png" alt="service-icon">
                    <h2>Cloud Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div> -->
        </div>
        <div class="slider-btns-1">
            <button class="service-nav-left"><span class="ti-angle-left"></span></button>
            <button class="service-nav-right"><span class="ti-angle-right"></span></button>
        </div>
    </div>
</section>
<!--SERVICE TWO  END-->



{% endblock %}