{% extends 'main/base.html' %}
{% load static %} 
{% load crispy_forms_tags %}
{% block  content %}
    <!-- LOGIN AREA -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-content-table">
                        <div class="about-content-table-sell">
                            <div class="about-heading">
                                <h2>Add Place</h2>
                                <img src="{% static 'main/img/section-shape.png' %}" alt="section-shape">
                            </div>
                            <form method = "POST" id=".domain-checkup" class="form-input" enctype="multipart/form-data" style="max-width: 50%; margin-left: 25%; margin-bottom: 5%;" >
                                {% block raw %}{% csrf_token %}
                                {{ form|crispy }} {% endblock %}
                                <input type= "submit" value="Add Post " id=".submit-button" class="btn btn-primary" style="margin-left:-3.5%;">
                            </form> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LOGIN AREA END -->
    {% endblock %}

